<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                Form Elements <small>Carefully designed elements that will ensure a great experience for your users.</small>
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Forms</li>
                <li><a class="link-effect" href="">Form Elements</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->
<!-- Page Content -->
<div class="content content-narrow">
    <!-- Material Design -->
    <h2 class="content-heading">Material Design</h2>
    <div class="row">





        <div class="col-md-12">
            <!-- Floating Labels -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button"><i class="si si-settings"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Floating Labels</h3>
                </div>
                <div class="block-content block-content-narrow">
                    <form class="form-horizontal push-10-t" action="base_forms_elements.html" method="post" onsubmit="return false;">
                   
                        <div class="row col-md-12">

                            <div class="form-group col-md-6">
                                <div class="col-sm-6">
                                    <div class="form-material floating">
                                        <select class="form-control" id="material-select2" name="material-select2" size="1">
                                            <option></option><!-- Empty value for demostrating material select box -->
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                        </select>
                                        <label for="material-select2">@Baraa.UI.Resources.Baraa.Choose_Country</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-sm-6">
                                    <div class="form-material floating">
                                        <select class="form-control" id="material-select2" name="material-select2" size="1">
                                            <option></option><!-- Empty value for demostrating material select box -->
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                        </select>
                                        <label for="material-select2">@Baraa.UI.Resources.Baraa.Choose_Country</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material floating">
                                    <input class="form-control" type="text" id="material-text2" name="material-text2">
                                    <label for="material-text2">Username</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material floating">
                                    <input class="form-control" type="password" id="material-password2" name="material-password2">
                                    <label for="material-password2">Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material floating">
                                    <input class="form-control" type="email" id="material-email2" name="material-email2">
                                    <label for="material-email2">Email</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <div class="form-material floating">
                                    <input class="form-control" type="text" id="material-gridf2" name="material-gridf2">
                                    <label for="material-gridf2">Grid Input</label>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-material floating">
                                    <input class="form-control" type="text" id="material-gridl2" name="material-gridl2">
                                    <label for="material-gridl2">Grid Input</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material floating">
                                    <textarea class="form-control" id="material-textarea-small2" name="material-textarea-small2" rows="3"></textarea>
                                    <label for="material-textarea-small2">Textarea Small</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material floating">
                                    <textarea class="form-control" id="material-textarea-large2" name="material-textarea-large2" rows="8"></textarea>
                                    <label for="material-textarea-large2">Textarea Large</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material form-material-primary floating">
                                    <input class="form-control" type="text" id="material-color-primary2" name="material-color-primary2">
                                    <label for="material-color-primary2">Primary Color (On focus)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material form-material-success floating">
                                    <input class="form-control" type="text" id="material-color-success2" name="material-color-success2">
                                    <label for="material-color-success2">Success Color (On focus)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material form-material-info floating">
                                    <input class="form-control" type="text" id="material-color-info2" name="material-color-info2">
                                    <label for="material-color-info2">Info Color (On focus)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material form-material-warning floating">
                                    <input class="form-control" type="text" id="material-color-warning2" name="material-color-warning2">
                                    <label for="material-color-warning2">Warning Color (On focus)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material form-material-danger floating">
                                    <input class="form-control" type="text" id="material-color-danger2" name="material-color-danger2">
                                    <label for="material-color-danger2">Danger Color (On focus)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="col-sm-9">
                                <div class="form-material floating">
                                    <input class="form-control" type="text" id="material-success2" name="material-success2">
                                    <label for="material-success2">Success</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-info">
                            <div class="col-sm-9">
                                <div class="form-material floating">
                                    <input class="form-control" type="text" id="material-info2" name="material-info2">
                                    <label for="material-info2">Info</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-warning">
                            <div class="col-sm-9">
                                <div class="form-material floating">
                                    <input class="form-control" type="text" id="material-warning2" name="material-warning2">
                                    <label for="material-warning2">Warning</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <div class="col-sm-9">
                                <div class="form-material floating">
                                    <input class="form-control" type="text" id="material-error2" name="material-error2">
                                    <label for="material-error2">Error</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material floating">
                                    <input class="form-control" type="text" id="material-help2" name="material-help2">
                                    <label for="material-help2">With Help</label>
                                    <div class="help-block text-right">This is a help block!</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material floating">
                                    <input class="form-control" type="text" id="material-disabled2" name="material-disabled2" disabled>
                                    <label for="material-disabled2">Disabled</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material floating">
                                    <select class="form-control" id="material-select2" name="material-select2" size="1">
                                        <option></option><!-- Empty value for demostrating material select box -->
                                        <option value="1">Option #1</option>
                                        <option value="2">Option #2</option>
                                        <option value="3">Option #3</option>
                                    </select>
                                    <label for="material-select2">Please Select</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Floating Labels -->
        </div>
    </div>
    <!-- END Material Design -->
    <!-- Bootstrap Design -->
   
</div>
<!-- END Page Content -->